@import "~materialize-css/dist/css/materialize.min.css";

* {
  box-sizing: border-box;
}

.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.s6 {
  margin-left: 0 !important;
}